@import url('https://fonts.googleapis.com/css?family=Coming+Soon&display=swap');

body
{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #B47EB3;
}

#title {
    padding: 5px 5px 5px 10px;
    background-color: #FFD5FF;
}

.titletext
{
    font-size: xx-large;
    font-weight: bold;
    font-family: "Coming Soon";
}

#_version {
    font-size: small;
    font-weight: normal;
}

#feedback {
    font-size: small;
    font-weight: normal;
}

.optlabel {
    width: 200px;
    display:inline-block;
    font-family: "Coming Soon";
    text-align: center;
}

.theader
{
    text-align: center;
    font-family: "Coming Soon";
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: #B47EB3;
}

.xbtn {
    cursor: pointer;
    user-select: none;
    text-align: center;
    border: 2px solid;
    padding: 4px;
    margin: 2px;
}

.resetbtn
{
    border-color: black;
    background-color: red;
    color:white;
    top: 10px;
    right: 10px;
    position: absolute;
}

.waypoint {
    display:block;
    text-align:center;
}

.waypointBlock {
    display:block;
    border:1px dashed;
    margin-bottom:5px;
}

.item {
    background-color: #7CC6FE;
    display:block;
}

.item-theory {
    background-color:  #5a8dac;
    display:block;
    border-style:dotted;
    font-style: italic;
}

.completed {
    background-color: grey;
    display:block;
}

.need {
    background-color: #aaaaaa;
    display:block;
}

.have {
    background-color: #A5FFD6;
    display:block;
}

.randomopt-off {
    background-color: #aaaaaa;
    display:inline-block;
}

.randomopt-on {
    background-color: #A5FFD6;
    display:inline-block;
}

.skipopt-off {
    background-color: #aaaaaa;
    display:inline-block;
}

.skipopt-on {
    background-color: #A5FFD6;
    display:inline-block;
}

.skipwillopt-off {
    background-color: #aaaaaa;
    border-style:solid;
    display:inline-block;
}

.skipwillopt-on {
    border-style: solid;
    background-color:  #5a8dac;
    display:inline-block;
}

.tooltip {
    position: relative;
    display: block;
}

.tooltip2 {
    position: relative;
}

.tooltip3 {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    width:300px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
    transform: translateX(50%);
    font-family: 'Arial';
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip3:hover .tooltip-text {
    visibility: visible;
    transform: translateX(5%) translateY(50%);
    font-family: 'Arial';
    z-index: 999;
}

.tooltip2-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    width:500px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip2:hover .tooltip2-text {
    visibility: visible;
    transform: translateX(5%);
    font-family: 'Arial';
}

.tt-operator {
    color: lightgray;
    text-emphasis: bold;
}

.tt-have {
    color: #A5FFD6;
}

.tt-need {
    color: #FF4242;
}

.check-able {
    font-family: 'Courier New', Courier, monospace;
    background-color:#7CC6FE;
    border-radius: 10px;
    padding: 2px;
    color: black;
}

.check-ed {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
    border-radius: 10px;
    padding: 2px;
    color: black;
}

.check-locked {
    font-family: 'Courier New', Courier, monospace;
    background-color: #FF4242;
    border-radius: 10px;
    padding: 2px;
    color: black;
}

.check-theory {
    font-family: 'Courier New', Courier, monospace;
    background-color: #5a8dac;
    border-radius: 10px;
    padding: 2px;
    color: black;
}

.check-tt-header {
    color: lightgrey;
    font-size: large;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width:100%;
}

.check-tt-content {
    padding-left: 8px;
    font-weight: normal;
}

.check-tt-entry-title {
    font-weight: bold;
    padding-top: 5px;
}

.check-tt-entry-logic {
    font-weight: bold;
    padding: 2px 0px 0px 0px;
    font-size: small;
}

.checkAreaHeader {
      user-select: none;
      font-weight: bold;
      font-family: 'Coming Soon';
      color: white;
}

.progressionHeader {
    text-align: center;
    user-select: none;
    font-weight: bold;
    font-family: 'Coming Soon';
    color: white;
}

.missing-item {
    margin: 1px;
    filter: grayscale(100%) saturate(300%) brightness(270%) opacity(0.5)
}

.have-item {
    margin: 1px;
    filter: brightness(150%);
}

.skill-row {
    display:inline-block;
    text-align: center;
}

.itemblock {
    text-align: center;
    background: black;
    margin: 5px bottom;
}

.item-tooltip-text {
    visibility: hidden;
    background-color: #707070;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    width:300px;

    position: absolute;
    z-index: 1;
}

.item-tooltip:hover .item-tooltip-text {
    visibility: visible;
    transform: translateY(200%) translateX(1%);
    font-family: 'Arial';
    font-weight: bold;
}

.triangle-down {
    top: 90px;
    left: 10px;
    position: absolute;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black;
  }

 .triangle-up {
    top: 90px;
    left: 10px;
    position: absolute;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
  }

.pickup-title {
    font-family: "Coming Soon";
    color: white;
    display: inline-block;
    text-align: left;
    width: 200px;
}

.pickup-area {
    display: inline-block;
    text-align: left;
}

.pickup-icon {
    width: 48;
    height: 48;
    position: relative;
}

.pickup-icon .pickup-icon-overlay {
    position: absolute;
    z-index: 500;
    margin: 0 auto;
    top:0px;
    left:22px;
    font-weight: bold;
    text-align: center;
    width: 60%;
}

.pickup-state-0 { color: red }
.pickup-state-1 { color: lightgreen}
.pickup-state-2 { color: #7CC6FE}
.pickup-state-3 { color: lightgreen }

.stag-have
{
    display:inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 10px;
    color: white;
    text-align: center;
    border: 3px solid #fff;
}

.stag-missing
{
    display:inline-block;
    border-radius: 50%;
    width: 32px;
    height: 28px;
    padding: 10px;
    color: white;
    text-align: center;
    border: 3px solid #fff;
}
